<div class="profile-info">
  <div class="profile-info__avatar-wrap">
    {{> InputAvatar}}
    {{> Title modifier-title="profile-info__user-name" text="Иван"}}
  </div>
  <ul class="profile-info__fields">
    {{> ProfileField text="Почта" name="email" value="pochta@yandex.ru" isDisabled="true"}}
    {{> ProfileField text="Логин" name="login" value="ivanivanov" isDisabled="true"}}
    {{> ProfileField text="Имя" name="name" value="Иван" isDisabled="true"}}
    {{> ProfileField text="Фамилия" name="last-name" value="Иванов" isDisabled="true"}}
    {{> ProfileField text="Имя в чате" name="chat-name" value="Иван" isDisabled="true"}}
    {{> ProfileField text="Телефон" name="phone" value="+7-909-967-30-30" isDisabled="true"}}

  </ul>
</div>