<div class="profile-info">
  <div class="profile-info__avatar-wrap">
    {{> ButtonAvatar}}
    {{#if isNotChange }}
      {{> Title modifier-title="profile-info__user-name" text="Иван"}}
    {{/if}}
  </div>
  {{#unless isChangePassword }}
    <ul class="profile-info__fields">
      {{> ProfileField text="Почта" name="email" value="pochta@yandex.ru" isDisabled=isNotChange isWithInput="true" type="text"}}
      {{> ProfileField text="Логин" name="login" value="ivanivanov" isDisabled=isNotChange isWithInput="true" type="text"}}
      {{> ProfileField text="Имя" name="name" value="Иван" isDisabled=isNotChange isWithInput="true" type="text"}}
      {{> ProfileField text="Фамилия" name="last-name" value="Иванов" isDisabled=isNotChange isWithInput="true" type="text"}}
      {{> ProfileField text="Имя в чате" name="chat-name" value="Иван" isDisabled=isNotChange isWithInput="true" type="text"}}
      {{> ProfileField text="Телефон" name="phone" value="+7-909-967-30-30" isDisabled=isNotChange isWithInput="true" type="text"}}
    </ul>
  {{/unless}}
  {{#if isNotChange }}
    <ul class="profile-info__fields">
      {{> ProfileField to="#" modifier-link="profile-info__link" filling="Изменить данные" isLink="true"}}
      {{> ProfileField to="#" modifier-link="profile-info__link" filling="Изменить пароль" isLink="true"}}
      {{> ProfileField to="#" modifier-link="profile-info__link-exit" filling="Выйти" isLink="true"}}
    </ul>
  {{/if}}
  {{#if isChangePassword}}
    <ul class="profile-info__fields">
      {{> ProfileField text="Старый пароль" name="old-password" value="11111111" isWithInput="true" type="password"}}
      {{> ProfileField text="Новый пароль" name="new-password" value="11111" isWithInput="true" type="password"}}
      {{> ProfileField text="Повторите новый пароль" name="repeat-password" value="11111" isWithInput="true" type="password"}}
    </ul>
  {{/if}}
  {{#unless isNotChange}}
    {{> Button modifier="profile-info__save-button" text="Сохранить"}}
  {{/unless}}
</div>
