.loader {
  height: 80%;
  aspect-ratio: 1 / 1;

  &__animation {
    width: 100%;
    height: 100%;
    animation: rotate-right 1s linear infinite;
  }
}

@keyframes rotate-right {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
