.loader {
  animation: rotation-right 1.5s linear infinite normal forwards running;
  height: 80%;
  aspect-ratio: 1 / 1;
}

@keyframes rotation-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
