.loader {
  height: 80%;
  aspect-ratio: 1 / 1;

  &__animation {
    width: 100%;
    height: 100%;
    animation: rotation-right 1s linear infinite;
  }
}

@keyframes rotation-right { 0% {transform: rotate(0deg)} 100% {transform: rotate(360deg)} }
/* @keyframes rotation-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
