<li class="contact-card">
  <div class="contact-card__message-and-photo-wrap">
    {{#> UserPhoto photo=avatar}}{{/ UserPhoto}}
    <div class="contact-card__message-wrap">
      {{#> Title modifier-title="contact-card__chat-name" text=title}}{{/ Title}}
    </div>
  </div>
</li>