.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 450px;
  padding: 50px 30px 30px 30px;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 0px var(--color-form-shadow);
  border-radius: 12px;
}
