.input-profile {
  width: 100%;
  text-align: end;
  outline: none;
  border: none;
  font-size: 13px;
  color: var(--color-grey);
  background-color: var(--color-grey-light);
  border-radius: 30px;
  padding: 10px;

  &__label {
    width: 100%;
  }
}
