{{#> FormWrapper modifier-form="chat-modal"}}
  <div class="chat-modal__field">
    <div class="chat-modal__icon">
      {{>PlusIcon}}
    </div>
    <p class="chat-modal__text">Добавить пользователя</p>
  </div>
  <div class="chat-modal__field">
    <div class="chat-modal__icon_rotate">
      {{>PlusIcon}}
    </div>
    <p class="chat-modal__text">Удалить пользователя</p>
  </div>
{{/ FormWrapper}}