{{#> FormWrapper modifier-form="chat-modal-file"}}
  <div class="chat-modal__field">
    {{> ImageIcon width="22" height="22" color="#3369F3"}}
    <p class="chat-modal__text">Фото или Видео</p>
  </div>
  <div class="chat-modal__field">
    {{>FileIcon}}
    <p class="chat-modal__text">Файл</p>
  </div>
  <div class="chat-modal__field">
    {{>LocationIcon}}
    <p class="chat-modal__text">Локация</p>
  </div>
{{/ FormWrapper}}
