.login-user-card {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2px 5px;
  background-color: var(--color-blue-light);
  border-radius: 11px;
  box-sizing: border-box;
  cursor: pointer;

  &__icon {
    rotate: 45deg;
  }

  &__login {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-black);
    margin: 0;
  }
}
