.button-back {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-lighter);
  border-right: 1px solid var(--color-grey-border);
  box-sizing: border-box;
}