{{#> Layout}}
  <div class="button-back">
    {{> ButtonArrow}}
  </div>
{{!-- isChangeInfo="true" (Изменение основной информации)
  isChangePassword="true" (Изменение пароля)
  isNotChange="true" (Профиль)
--}}
  {{> ProfileInfo isNotChange="true"}}
{{/ Layout}}