:root {
  --color-white: #FFFFFF;
  --color-blue: #3369F3;
  --color-text: #1E1E1E;
  --color-form-shadow: #00000024;
  --color-grey: #999999;
  --color-grey-light: #EFEFEF;
  --color-grey-lighter: #FBFBFB;
  --color-grey-border: #EAEAEA;
  --color-red: #FF2F2F;
  --color-blue-light: #E4EDFD;
}
