.messages-group {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__date {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-grey);
    text-align: center;
  }

  &__messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

