<label class="input-avatar__label">
  <input class="input-avatar" type="file" />
  {{> ImageIcon width="40" height="40" color="#CDCDCD"}}
  <div class="input-avatar__mask">
    <p class="input-avatar__text">Поменять аватар</p>
  </div>
</label>
