{{#> Layout isCenter="true"}}
  <nav class="nav">
    <ul class="nav__list">
        <li><a href="#" class="nav__link" page="login">Авторизация</a></li>
        <li><a href="#" class="nav__link" page="registration">Регистрация</a></li>
        <li><a href="#" class="nav__link" page="chat">Чат</a></li>
        <li><a href="#" class="nav__link" page="profile">Профиль</a></li>
    </ul>
  </nav>
{{/ Layout}}