.page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: var(--color-text);
    text-decoration: none;

    &:hover {
      opacity: 0.7;
      text-decoration: underline;
    }
  }
}
