.profile-field {
  display: flex;
  gap: 15px;
  width: 100%;
  border-bottom: 1px solid var(--color-grey-border);
  padding: 10px 0;
  box-sizing: border-box;

  &:last-child {
    border-bottom: none;
  }

  &__text {
    font-size: 13px;
    width: 85px;
  }
}