.input-create-message {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: var(--color-grey-border);
  width: 100%;
  box-sizing: border-box;

  &__label {
    width: calc(100% - 80px);
  }
}
