.button-arrow {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--color-blue);
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &_right {
    rotate: 180deg;
  }
}