.button-file {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;

  &__image {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    object-fit: cover;
  }
}

.button-file:hover {
  opacity: 0.7;
}
