<div class="message {{#if isSend}} message_send {{/if}}">
  <div class="message__text">{{text}}
    <div class="message__time-wrap">
      <span class="message__time">{{time}}</span>
      {{>CheckmarkIcon}}
    </div>

  </div>
</div>