{{#> Layout isCenter="true"}}
  <div class="error-page">
  <div class="error-page__error-info">
    {{> Title modifier-title="error-page__error" text=error}}
    {{> Title text=text}}
  </div>
  {{> Link to="#" filling="Назад к чатам"}}
  </div>
{{/ Layout}}
